@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-5;
}

.bg-primary {
    background: rgb(0, 0, 0);
    
}
.bg-secondary{
    background: rgb(26, 23, 23);
    @apply w-full
}

.mobile-nav {
        @apply fixed top-10  left-0 bg-neutral-950 w-full h-1/2 ;
}

.mobile-nav li{
    @apply w-full h-full text-center border-b-2;
}

.projectdic{
    @apply absolute left-[1px] right-[3px] bottom-[3px] top-[3px] bg-zinc-900 opacity-0 duration-500 hover:opacity-85 ;
}

html{
    scroll-behavior: smooth;
}